Import libraries

In [57]:
import pandas as pd
import glob as glob
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, ForeignKey
from sqlalchemy.orm import relationship, declarative_base

Load the .csv files into a glob

In [58]:
citibike_csvs = glob.glob('data/JC-2016*-citibike-tripdata.csv')

Create an empty list and populate it with the data frames as they are imported from the glob

In [59]:
dfs = []

for csv in citibike_csvs:
    temp_df = pd.read_csv(csv)
    #print(temp_df)
    dfs.append(temp_df)
    
tripdata = pd.concat(dfs, ignore_index=True)

print(tripdata.head(20))
print(tripdata.info)
print(tripdata.dtypes)

    Trip Duration           Start Time            Stop Time  Start Station ID  \
0             362  2016-01-01 00:02:52  2016-01-01 00:08:54              3186
1             200  2016-01-01 00:18:22  2016-01-01 00:21:42              3186
2             202  2016-01-01 00:18:25  2016-01-01 00:21:47              3186
3             248  2016-01-01 00:23:13  2016-01-01 00:27:21              3209
4             903  2016-01-01 01:03:20  2016-01-01 01:18:24              3195
5             883  2016-01-01 01:03:28  2016-01-01 01:18:11              3195
6             445  2016-01-01 01:07:45  2016-01-01 01:15:11              3186
7             192  2016-01-01 01:18:51  2016-01-01 01:22:03              3211
8             409  2016-01-01 01:23:44  2016-01-01 01:30:34              3187
9             285  2016-01-01 01:25:12  2016-01-01 01:29:57              3187
10            206  2016-01-01 01:45:34  2016-01-01 01:49:00              3183
11            251  2016-01-01 02:02:55  2016-01-01 02:07:06              3213
12            292  2016-01-01 02:20:38  2016-01-01 02:25:30              3186
13            175  2016-01-01 02:23:37  2016-01-01 02:26:32              3186
14            769  2016-01-01 02:28:58  2016-01-01 02:41:47              3193
15            384  2016-01-01 02:39:07  2016-01-01 02:45:32              3209
16            364  2016-01-01 02:39:28  2016-01-01 02:45:33              3209
17            326  2016-01-01 02:47:39  2016-01-01 02:53:05              3186
18            341  2016-01-01 02:53:35  2016-01-01 02:59:17              3186
19            634  2016-01-01 02:54:56  2016-01-01 03:05:30              3194

   Start Station Name  Start Station Latitude  Start Station Longitude  \
0       Grove St PATH               40.719586               -74.043117
1       Grove St PATH               40.719586               -74.043117
2       Grove St PATH               40.719586               -74.043117
3        Brunswick St               40.724176               -74.050656
4             Sip Ave               40.730743               -74.063784
5             Sip Ave               40.730743               -74.063784
6       Grove St PATH               40.719586               -74.043117
7          Newark Ave               40.721525               -74.046305
8           Warren St               40.721124               -74.038051
9           Warren St               40.721124               -74.038051
10     Exchange Place               40.716247               -74.033459
11     Van Vorst Park               40.718489               -74.047727
12      Grove St PATH               40.719586               -74.043117
13      Grove St PATH               40.719586               -74.043117
14       Lincoln Park               40.724605               -74.078406
15       Brunswick St               40.724176               -74.050656
16       Brunswick St               40.724176               -74.050656
17      Grove St PATH               40.719586               -74.043117
18      Grove St PATH               40.719586               -74.043117
19    McGinley Square               40.725340               -74.067622

    End Station ID  End Station Name  End Station Latitude  \
0             3209      Brunswick St             40.724176
1             3213    Van Vorst Park             40.718489
2             3213    Van Vorst Park             40.718489
3             3203     Hamilton Park             40.727596
4             3210    Pershing Field             40.742677
5             3210    Pershing Field             40.742677
6             3203     Hamilton Park             40.727596
7             3203     Hamilton Park             40.727596
8             3214  Essex Light Rail             40.712774
9             3214  Essex Light Rail             40.712774
10            3187         Warren St             40.721124
11            3209      Brunswick St             40.724176
12            3187         Warren St             40.721124
13            3213    Van Vorst Park             40.718489
14            3211        Newark Ave             40.721525
15            3213    Van Vorst Park             40.718489
16            3213    Van Vorst Park             40.718489
17            3202      Newport PATH             40.727224
18            3202      Newport PATH             40.727224
19            3209      Brunswick St             40.724176

    End Station Longitude  Bike ID   User Type  Birth Year  Gender
0              -74.050656    24647  Subscriber      1964.0       2
1              -74.047727    24605  Subscriber      1962.0       1
2              -74.047727    24689  Subscriber      1962.0       2
3              -74.044247    24693  Subscriber      1984.0       1
4              -74.051789    24573    Customer         NaN       0
5              -74.051789    24442    Customer         NaN       0
6              -74.044247    24510  Subscriber      1988.0       2
7              -74.044247    24625  Subscriber      1980.0       1
8              -74.036486    24429  Subscriber      1990.0       1
9              -74.036486    24407  Subscriber      1988.0       2
10             -74.038051    24377  Subscriber      1993.0       1
11             -74.050656    24605  Subscriber      1976.0       1
12             -74.038051    24721  Subscriber      1992.0       1
13             -74.047727    24601  Subscriber      1991.0       1
14             -74.046305    24606  Subscriber      1968.0       1
15             -74.047727    24470  Subscriber      1975.0       2
16             -74.047727    24542  Subscriber      1976.0       1
17             -74.033759    24716  Subscriber      1992.0       1
18             -74.033759    24687  Subscriber      1982.0       1
19             -74.050656    24675  Subscriber      1981.0       1
<bound method DataFrame.info of         Trip Duration           Start Time            Stop Time  \
0                 362  2016-01-01 00:02:52  2016-01-01 00:08:54
1                 200  2016-01-01 00:18:22  2016-01-01 00:21:42
2                 202  2016-01-01 00:18:25  2016-01-01 00:21:47
3                 248  2016-01-01 00:23:13  2016-01-01 00:27:21
4                 903  2016-01-01 01:03:20  2016-01-01 01:18:24
...               ...                  ...                  ...
247579            557  2016-12-31 23:10:16  2016-12-31 23:19:33
247580           2749  2016-12-31 23:29:39  2017-01-01 00:15:29
247581            173  2016-12-31 23:44:37  2016-12-31 23:47:31
247582           2424  2016-12-31 23:44:50  2017-01-01 00:25:14
247583           2419  2016-12-31 23:44:50  2017-01-01 00:25:10

        Start Station ID Start Station Name  Start Station Latitude  \
0                   3186      Grove St PATH               40.719586
1                   3186      Grove St PATH               40.719586
2                   3186      Grove St PATH               40.719586
3                   3209       Brunswick St               40.724176
4                   3195            Sip Ave               40.730743
...                  ...                ...                     ...
247579              3214   Essex Light Rail               40.712774
247580              3183     Exchange Place               40.716247
247581              3186      Grove St PATH               40.719586
247582              3214   Essex Light Rail               40.712774
247583              3214   Essex Light Rail               40.712774

        Start Station Longitude  End Station ID  End Station Name  \
0                    -74.043117            3209      Brunswick St
1                    -74.043117            3213    Van Vorst Park
2                    -74.043117            3213    Van Vorst Park
3                    -74.050656            3203     Hamilton Park
4                    -74.063784            3210    Pershing Field
...                         ...             ...               ...
247579               -74.036486            3203     Hamilton Park
247580               -74.033459            3183    Exchange Place
247581               -74.043117            3270   Jersey & 6th St
247582               -74.036486            3214  Essex Light Rail
247583               -74.036486            3214  Essex Light Rail

        End Station Latitude  End Station Longitude  Bike ID   User Type  \
0                  40.724176             -74.050656    24647  Subscriber
1                  40.718489             -74.047727    24605  Subscriber
2                  40.718489             -74.047727    24689  Subscriber
3                  40.727596             -74.044247    24693  Subscriber
4                  40.742677             -74.051789    24573    Customer
...                      ...                    ...      ...         ...
247579             40.727596             -74.044247    24465  Subscriber
247580             40.716247             -74.033459    24389    Customer
247581             40.725289             -74.045572    24641  Subscriber
247582             40.712774             -74.036486    26219  Subscriber
247583             40.712774             -74.036486    24471  Subscriber

        Birth Year  Gender
0           1964.0       2
1           1962.0       1
2           1962.0       2
3           1984.0       1
4              NaN       0
...            ...     ...
247579      1981.0       2
247580         NaN       0
247581      1978.0       1
247582      1960.0       2
247583      1956.0       1

[247584 rows x 15 columns]>
Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

Cleaning data for the nulls and NaNs

In [60]:
print(tripdata.isnull().sum())
print(tripdata.isna().sum())
tripdata.dropna(inplace=True)
print(tripdata['User Type'].value_counts())
print(tripdata['Birth Year'].value_counts())
print(tripdata['Gender'].value_counts())

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    380
Birth Year                 18999
Gender                         0
dtype: int64
Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    380
Birth Year                 18999
Gender                         0
dtype: int64
User Type
Subscriber    228154
Customer          51
Name: count, dtype: int64
Birth Year
1984.0    14128
1986.0    12685
1981.0    12263
1983.0    11211
1985.0    10783
          ...
1943.0        6
1937.0        4
1940.0        3
1934.0        1
1900.0        1
Name: count, Length: 64, dtype: int64
Gender
1    176935
2     50368
0       902
Name: count, dtype: int64

Here is the work to convert the column data types to the ones that make the most sense. 

- Start Time and Stop Time are currently object, and they should be datetime
- Birth Year is a float and should be an int
- Gender is coded as numbers and will be converted to a string for interpretability

In [61]:
tripdata['Start Time'] = pd.to_datetime(tripdata['Start Time'])#, format='%Y-%m-%d %H:%M:%S', unit='s')
tripdata['Stop Time'] = pd.to_datetime(tripdata['Stop Time'])#, format='%Y-%m-%d %H:%M:%S', unit='s')
tripdata['Birth Year'] = tripdata['Birth Year'].astype('int64')


gender_dic = {1: 'male', 2: 'female', 0: 'unknown'}
tripdata['Gender'] = tripdata['Gender'].map(gender_dic)

print(tripdata.dtypes)
print(tripdata.head())

Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                          int64
Gender                             object
dtype: object
   Trip Duration          Start Time           Stop Time  Start Station ID  \
0            362 2016-01-01 00:02:52 2016-01-01 00:08:54              3186
1            200 2016-01-01 00:18:22 2016-01-01 00:21:42              3186
2            202 2016-01-01 00:18:25 2016-01-01 00:21:47              3186
3            248 2016-01-01 00:23:13 2016-01-01 00:27:21              3209
6            445 2016-01-01 01:07:45 2016-01-01 01:15:11              3186

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
6      Grove St PATH               40.719586               -74.043117

   End Station ID End Station Name  End Station Latitude  \
0            3209     Brunswick St             40.724176
1            3213   Van Vorst Park             40.718489
2            3213   Van Vorst Park             40.718489
3            3203    Hamilton Park             40.727596
6            3203    Hamilton Park             40.727596

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.050656    24647  Subscriber        1964  female
1             -74.047727    24605  Subscriber        1962    male
2             -74.047727    24689  Subscriber        1962  female
3             -74.044247    24693  Subscriber        1984    male
6             -74.044247    24510  Subscriber        1988  female

Checking for duplicate rows and cleaning them if necessary

In [62]:
print(tripdata.duplicated().sum())
print(tripdata.dtypes)

0
Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                          int64
Gender                             object
dtype: object

Divide the data up into tables that match the schema I've laid out:

Table trips {
  id integer pk
  start_time datetime
  stop_time datetime
  duration integer
  start_station_id integer
  end_station_id integer
  bike_id integer
  user_id integer
}

Table stations {
  id integer pk
  name string
  latitude float
  langitude float
}

Table bikes {
  id integer pk
}

Table users {
  id integer pk
  type string
  birth_year integer
  gender string
}

In [63]:
users = tripdata[['User Type', 'Birth Year', 'Gender']]

users = users.rename(columns={'User Type': 'type', 'Birth Year': 'birth_year', 'Gender': 'gender'})
users['id'] = users.reset_index().index
print(users.duplicated().sum())
users = users.drop_duplicates()
print(users.head())

0
         type  birth_year  gender  id
0  Subscriber        1964  female   0
1  Subscriber        1962    male   1
2  Subscriber        1962  female   2
3  Subscriber        1984    male   3
6  Subscriber        1988  female   4

In [64]:
trips = tripdata[['Start Time', 'Stop Time', 'Trip Duration', 'Start Station ID', 'End Station ID', 'Bike ID']].copy()

trips['user_id'] = users['id']
trips = trips.rename(columns={'Start Time': 'start_time',
    'Stop Time': 'stop_time',
    'Trip Duration': 'duration',
    'Start Station ID': 'start_station_id',
    'End Station ID': 'end_station_id',
    'Bike ID': 'bike_id'})
trips['id'] = trips.reset_index().index
print(tripdata.duplicated().sum())
trips = trips.drop_duplicates()
print(trips.head())

0
           start_time           stop_time  duration  start_station_id  \
0 2016-01-01 00:02:52 2016-01-01 00:08:54       362              3186
1 2016-01-01 00:18:22 2016-01-01 00:21:42       200              3186
2 2016-01-01 00:18:25 2016-01-01 00:21:47       202              3186
3 2016-01-01 00:23:13 2016-01-01 00:27:21       248              3209
6 2016-01-01 01:07:45 2016-01-01 01:15:11       445              3186

   end_station_id  bike_id  user_id  id
0            3209    24647        0   0
1            3213    24605        1   1
2            3213    24689        2   2
3            3203    24693        3   3
6            3203    24510        4   4

In [65]:
bikes = tripdata[['Bike ID']]
bikes = bikes.rename(columns={'Bike ID': 'id'})
print(bikes.duplicated().sum())
bikes = bikes.drop_duplicates()
print(bikes)

227642
           id
0       24647
1       24605
2       24689
3       24693
6       24510
...       ...
226120  22194
226722  27274
227084  18470
236263  18648
240399  18062

[563 rows x 1 columns]

In [66]:
start_stations = tripdata[['Start Station ID', 'Start Station Name', 'Start Station Latitude', 'Start Station Longitude']]
end_stations = tripdata[['End Station ID', 'End Station Name', 'End Station Latitude', 'End Station Longitude']]

start_stations.columns = ['id', 'name', 'latitude', 'longitude']
end_stations.columns = ['id', 'name', 'latitude', 'longitude']

stations = pd.concat([start_stations, end_stations], ignore_index=True)
stations = stations.drop_duplicates()

print(stations.duplicated().sum())
stations = stations.drop_duplicates()
print(stations)

0
          id                           name   latitude  longitude
0       3186                  Grove St PATH  40.719586 -74.043117
3       3209                   Brunswick St  40.724176 -74.050656
5       3211                     Newark Ave  40.721525 -74.046305
6       3187                      Warren St  40.721124 -74.038051
8       3183                 Exchange Place  40.716247 -74.033459
...      ...                            ...        ...        ...
421640   520                W 52 St & 5 Ave  40.759923 -73.976485
422678  2004              6 Ave & Broome St  40.724399 -74.004704
426160   393              E 5 St & Avenue C  40.722992 -73.979955
442181   405  Washington St & Gansevoort St  40.739323 -74.008119
447181   224          Spruce St & Nassau St  40.711464 -74.005524

[90 rows x 4 columns]

Create the connection to the postgreSQL database that will be used

In [67]:
engine = create_engine('postgresql://postgres:Surok47pg@localhost:5432/postgres')
Base = declarative_base()

Define the table classes

In [68]:

# Define table classes
class Trips(Base):
    __tablename__ = 'trips'

    id = Column(Integer, primary_key=True)
    start_time = Column(DateTime)
    stop_time = Column(DateTime)
    duration = Column(Integer)
    start_station_id = Column(Integer, ForeignKey('stations.id'))
    end_station_id = Column(Integer, ForeignKey('stations.id'))
    bike_id = Column(Integer, ForeignKey('bikes.id'))
    user_id = Column(Integer, ForeignKey('users.id'))

    start_station = relationship("Stations", foreign_keys=[start_station_id])
    end_station = relationship("Stations", foreign_keys=[end_station_id])
    bike = relationship("Bikes")
    user = relationship("Users")

class Stations(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)

class Bikes(Base):
    __tablename__ = 'bikes'

    id = Column(Integer, primary_key=True)

class Users(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    type = Column(String)
    birth_year = Column(Integer)
    gender = Column(String)

Create the tables in the database

In [69]:
Base.metadata.create_all(engine)

tripdata.to_sql('tripdata', engine, if_exists='replace', index=False)
trips.to_sql('trips', engine, if_exists='replace', index=False)
stations.to_sql('stations', engine, if_exists='replace', index=False)
bikes.to_sql('bikes', engine, if_exists='replace', index=False)
users.to_sql('users', engine, if_exists='replace', index=False)

205